/* =============== FONTS =============== */
@font-face {
    font-family: 'Myriad Web Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Web Pro'), url('../fonts/Myriad\ Web\ Pro.woff') format('woff');
}

@font-face {
    font-family: 'MyriadWebPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadWebPro-Bold'), url('../fonts/MyriadWebPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'MyriadWebPro-CondensedItalic';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadWebPro-CondensedItalic'), url('../fonts/MyriadWebPro-CondensedItalic.woff') format('woff');
}

/* =============== VARIABLES CSS =============== */
:root {
    --header-height: 3rem;

    /* ========== Colors ========== */
    /*CoLor mode HSL (hue, saturation, Lightness)*/
    /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
    */

    /* --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219; */

    --first-color: hsl(207, 100%, 50%);
    /* -4 */
    --first-color-alt: hsl(207, 90%, 40%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 100%);
    --text-color-light: hsl(0, 0%, 60%);
    /* --body-color: hsl(219, 48%, 8%); */
    --body-color: hsl(283, 64%, 22%);
    --container-color: hsl(218, 66%, 27%);


    /* ========== Font and typography ========== */

    --normal-font: 'Myriad Web Pro', sans-serif;
    --bold-font: 'MyriadWebPro-Bold', sans-serif;
    --italic-font: 'MyriadWebPro-CondensedItalic', sans-serif;

    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /* ========== Font weight ========== */
    --font-medium: 500;
    --font-bold: 600;

    /* ========== z index ========== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* =============== BASE =============== */
/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-weight: var(--bold-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    border: none;
}

button,
input {
    cursor: pointer;
    border: none;
    outline: none;
}

img,
video {
    max-width: 100%;
    height: auto;
}
 */

/* =============== THEME =============== */


/* =============== Variables Dark theme =============== */


/* ==========
    Color changes in some parts of
    the website, in Light theme
========== */


/* ========== REUSABLE CSS CLASSES ========== */
.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}


.section {
    padding: 4.5rem 0 1rem;
}

.section_title,
.section__subtitle {
    text-align: center;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section_subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}


/* =============== HEADER NAV =============== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/* =============== NAV =============== */




/* Active Link */


/* Change backgroun d header */

/* =============== HOME =============== */